<div align="center">
   <mat-toolbar color="primary">
    <span><mat-icon>create</mat-icon></span>

    <span>Add New Department</span>

    
  </mat-toolbar> 



  <form [formGroup]="loginForm" (ngSubmit)="onsubmit()">

    <mat-form-field class="example-full-width" hintLabel="Max 20 characters">
      <input matInput placeholder="First Name"  #input formControlName="username">
      <mat-error *ngIf="loginForm.controls.username.hasError('maxlengthValidator')">Max length is 20 
        </mat-error>
         <mat-error *ngIf="loginForm.controls.username.hasError('required')">Please enter the firstname
        </mat-error>
         <mat-error *ngIf="loginForm.controls.username.hasError('invalidPattern')&& !loginForm.controls.username.hasError('required')">Invalid firstName
        </mat-error>
    </mat-form-field>
    <br><br>
    <mat-form-field class="example-full-width" hintLabel="Max 20 characters">
      <input matInput placeholder="Last Name" value="Sharma"  formControlName="lastname">
      <mat-error *ngIf="loginForm.controls.lastname.hasError('maxlengthValidator')">Max length is 20 
        </mat-error>
        <mat-error *ngIf="loginForm.controls.lastname.hasError('required')">Please enter the lastname
        </mat-error>
         <mat-error *ngIf="loginForm.controls.username.hasError('invalidPattern')&& !loginForm.controls.lastname.hasError('required')">Invalid lastName
        </mat-error>
    </mat-form-field>
    <br><br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email"  formControlName="email">
     
        <mat-error *ngIf="loginForm.controls.email.hasError('required')">Please enter the lastname
        </mat-error>
         <mat-error *ngIf=" loginForm.controls.email.hasError('invalidPattern')&& !loginForm.controls.email.hasError('required')">Invalid email
        </mat-error>
    </mat-form-field>
<br><br>
    <mat-radio-group >
  <mat-radio-button  *ngFor="let gender of genders" [value]="gender.id" required>
    {{gender.name}}
    <br>
  </mat-radio-button>
</mat-radio-group>
<br><br>
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br><br>

<div class="frm-ctrl">
  <div class="line_ctrl">
 <mat-form-field >
   
      <input matInput placeholder="City">
    </mat-form-field>
  </div>
    
    <div class="line_ctrl">
    <mat-form-field >
      <input matInput placeholder="State"[matAutocomplete]="auto"  formControlName="state">
       <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    </mat-form-field>
    </div>

     <div class="line_ctrl">
    <mat-form-field >
      <input matInput placeholder="zip" >
    </mat-form-field>
    <button mat-icon-button color="accent">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
    </div>
    <br><br>


    <mat-form-field>
  <mat-select placeholder="Country" formControlName="countrycontrol" required >
    <mat-option>--</mat-option>
    <mat-option *ngFor="let country of countries" [value]="country.id">
      {{country.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="loginForm.controls.countrycontrol.hasError('required')">Please choose an country</mat-error>
  <mat-hint>{{loginForm.controls.countrycontrol.value?.name}}</mat-hint>
</mat-form-field>
<br><br>
<!--Multiple selection select box-->
<mat-form-field>
  <mat-select placeholder="Toppings" formControlName="toppings" multiple>
    <mat-option *ngFor="let topping of toppingList" [value]="topping.id">{{topping.name}}</mat-option>
  </mat-select>
</mat-form-field>

<br><br>
   <mat-label>Favorite Pizza</mat-label>
      <mat-checkbox  >French Bread</mat-checkbox>
      <mat-checkbox >Chicago slice</mat-checkbox>
      <mat-checkbox [indeterminate]="true">Tandoori Panner</mat-checkbox>
      <mat-checkbox [disabled]="true">Tikka Chicken</mat-checkbox>

<br><br>
      <mat-checkbox *ngFor="let country of countries"[value]="country.id"> 
        {{country.name}}
      </mat-checkbox>

  <div><strong>I have read and agree to the terms of service</strong>
    <mat-checkbox color="primary"></mat-checkbox>
  <button mat-raised-button color="warn" (click)="openDialog()">Sign Up</button>
  </div>
<br><br>
       <button type="submit" [disabled]= "loginForm.invalid" mat-raised-button color="primary">Submit</button>
  <button type="reset" mat-raised-button color="accent">reset</button>
  <br>
  <mat-slide-toggle>Slide me!</mat-slide-toggle>
  <br>

<div>dialog content-{{animal}}</div>

    
    </div>
      








    <!-- <mat-form-field class="example-full-width" placeholder="Last Name" hintLabel="Max 10 characters">
      <input matInput #inputl placeholder="Last Name" formControlName="lastName">
      <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
    <div>
      <mat-radio-group class="example-radio-group" formControlName="season">
        <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season.name">
          {{season.name}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-form-field>
      <mat-select placeholder="Select me" formControlName="season1">
        <mat-option *ngFor="let season of seasons" [value]="season.id">{{season.name}}</mat-option>
      </mat-select>
      <mat-hint align="first">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
    <mat-selection-list  #shoes formControlName="shoe">
      <mat-list-option  align="first" *ngFor="let shoe of typesOfShoes" [value]="shoe.id">
        {{shoe.name}}
      </mat-list-option>
    </mat-selection-list>
    <p>
      Options selected: {{shoes.selectedOptions.selected.length}}
    </p>
    <div width=50%>
      <button class="btn" type="submit" [disabled]="form.invalid">Submit</button>
      <button class="btn" type="reset">Reset</button>
    </div>
  </form>
</div> -->
  </form>
</div>